<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Checkout</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <div class="wrapper">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Shoes</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="products.html">All</a></li>
                  <li><a href="#">Men</a></li>
                  <li><a href="#">Women</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Sale</a></li>
                </ul>
              </li>
              <li class="active"><a href="#">About<span class="sr-only">(current)</span></a></li>
              <li><a href="#">Contact</a></li> <!-- need to link to footer -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="checkout.html">Checkout: <span>2</span> </a></li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
          <h1>Checkout</h1>
          </div>
          <div class="col-md-8">
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-hover">
              <tr>
                <th>Product</th>
                <th>Price Each</th>
                <th>Quantity</th>
                <th>Total Price</th>
              </tr>
              <tr>
                <td>Cap-Toe Oxfords</td>
                <td>$99.99</td>
                <td>1</td>
                <td>$99.99</td>
              </tr>
              <tr>
                <td>Trainers</td>
                <td>$79.99</td>
                <td>1</td>
                <td>79.99</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <th>Total:</th>
                <td>$179.98</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <!-- shipping form -->
      <form class="form-horizontal shipping">
          <fieldset>
              <legend>Shipping</legend>
              <!-- first name input-->
              <div class="container-fluid">
              <div class="control-group">
                  <label for="firstname" class="control-label col-sm-4">First Name</label>
                  <div class="col-sm-8">
                      <input id="first-name-ship" name="firstname" type="text" autocomplete="first-name" placeholder="first name" class="form-control">
                      <p class="help-block"></p>
                  </div>
              </div>
              <!-- last name input-->
              <div class="control-group">
                  <label for="lastname" class="control-label col-sm-4">Last Name</label>
                  <div class="col-sm-8">
                      <input id="last-name-ship" name="lastname" type="text" autocomplete="last-name" placeholder="last name" class="form-control">
                      <p class="help-block"></p>
                  </div>
              </div>
              <!-- company input-->
              <div class="control-group">
                  <label for="company" class="control-label col-sm-4">Company / Organization</label>
                  <div class="col-sm-8">
                      <input id="company-ship" name="company" type="text" autocomplete="organization" placeholder="company or organization (optional)" class="form-control">
                      <p class="help-block"></p>
                  </div>
              </div>
              <!-- address-line1 input-->
              <div class="control-group">
                  <label class="control-label col-sm-4">Address Line 1</label>
                  <div class="col-sm-8">
                      <input id="address-line1-ship" name="address-line1" type="text" autocomplete="address-line1" placeholder="address line 1" class="form-control">
                      <p class="help-block"></p>
                  </div>
              </div>
              <!-- address-line2 input-->
              <div class="control-group">
                  <label class="control-label col-sm-4">Address Line 2</label>
                  <div class="col-sm-8">
                      <input id="address-line2-ship" name="address-line2" type="text" autocomplete="address-line2" placeholder="address line 2" class="form-control">
                      <p class="help-block"></p>
                  </div>
              </div>
              <!-- city input-->
              <div class="control-group">
                  <label class="control-label col-sm-4">City / Town</label>
                  <div class="col-sm-8">
                      <input id="city-ship" name="city" type="text" autocomplete="address-level2" placeholder="city" class="form-control">
                      <p class="help-block"></p>
                  </div>
              </div>

              <div class="control-group">
                  <label class="control-label col-sm-4">State</label>
                  <div class="col-sm-8">
                      <input id="region-ship" name="region" type="text" autocomplete="address-level1" placeholder="state / province / region" class="form-control">
                      <p class="help-block"></p>
                  </div>
              </div>
              <!-- postal-code input-->
              <div class="control-group">
                  <label class="control-label col-sm-4">Zip / Postal Code</label>
                  <div class="col-sm-8">
                      <input id="postal-code-ship" name="postal-code" type="text" autocomplete="postal-code" placeholder="zip or postal code" class="form-control">
                      <p class="help-block"></p>
                  </div>
              </div>
                  <!-- check box "copy shipping to billing"-->

              <div class="control-group">
                  <div class="col-sm-6 col-sm-offset-4">
                    <div class="checkbox">
                      <label class="control-label col-sm-6"><input id='copyInfo' type="checkbox">Copy Shipping to Billing</label>

                    </div>
                  </div>
              </div>

          </fieldset>
      </form>

      <!-- billing form -->
      <form class="form-horizontal billing">
          <fieldset>
              <!-- Address form -->
              <legend>Billing</legend>
              <!-- first name input-->
              <div class="container-fluid">
              <div class="control-group">
                  <label for="firstname" class="control-label col-sm-4">First Name</label>
                  <div class="col-sm-8">
                      <input id="first-name-bill" name="firstname" type="text" autocomplete="first-name" placeholder="first name" class="form-control">
                      <p class="help-block"></p>
                  </div>
              </div>
              <!-- last name input-->
              <div class="control-group">
                  <label for="lastname" class="control-label col-sm-4">Last Name</label>
                  <div class="col-sm-8">
                      <input id="last-name-bill" name="lastname" type="text" autocomplete="last-name" placeholder="last name" class="form-control">
                      <p class="help-block"></p>
                  </div>
              </div>
              <!-- company input-->
              <div class="control-group">
                  <label for="company" class="control-label col-sm-4">Company / Organization</label>
                  <div class="col-sm-8">
                      <input id="company-bill" name="company" type="text" autocomplete="organization" placeholder="company or organization (optional)" class="form-control">
                      <p class="help-block"></p>
                  </div>
              </div>
              <!-- address-line1 input-->
              <div class="control-group">
                  <label class="control-label col-sm-4">Address Line 1</label>
                  <div class="col-sm-8">
                      <input id="address-line1-bill" name="address-line1" type="text" autocomplete="address-line1" placeholder="address line 1" class="form-control">
                      <p class="help-block"></p>
                  </div>
              </div>
              <!-- address-line2 input-->
              <div class="control-group">
                  <label class="control-label col-sm-4">Address Line 2</label>
                  <div class="col-sm-8">
                      <input id="address-line2-bill" name="address-line2" type="text" autocomplete="address-line2" placeholder="address line 2" class="form-control">
                      <p class="help-block"></p>
                  </div>
              </div>
              <!-- city input-->
              <div class="control-group">
                  <label class="control-label col-sm-4">City / Town</label>
                  <div class="col-sm-8">
                      <input id="city-bill" name="city" type="text" autocomplete="address-level2" placeholder="city" class="form-control">
                      <p class="help-block"></p>
                  </div>
              </div>

              <div class="control-group">
                  <label class="control-label col-sm-4">State</label>
                  <div class="col-sm-8">
                      <input id="region-bill" name="region" type="text" autocomplete="address-level1" placeholder="state / province / region" class="form-control">
                      <p class="help-block"></p>
                  </div>
              </div>
              <!-- postal-code input-->
              <div class="control-group">
                  <label class="control-label col-sm-4">Zip / Postal Code</label>
                  <div class="col-sm-8">
                      <input id="postal-code-bill" name="postal-code" type="text" autocomplete="postal-code" placeholder="zip or postal code" class="form-control">
                      <p class="help-block"></p>
                  </div>
              </div>


          </fieldset>
      </form>

      <!-- Credit Card Div -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
          </div>
          <div class="col-md-4 form-group">
            <h3>Purchase using your credit card</h3>
            <form action="" method="POST" id="payment-form">
              <span class="payment-errors"></span>

              <div class="form-row">
                <label>
                  <span>Card Number</span>
                  <input type="text" size="20" data-stripe="number"/>
                </label>
              </div>

              <div class="form-row">
                <label>
                  <span>CVC</span>
                  <input type="text" size="4" data-stripe="cvc"/>
                </label>
              </div>

              <div class="form-row">
                <label>
                  <span>Expiration (MM/YYYY)</span>
                  <input type="text" size="2" data-stripe="exp-month"/>
                </label>
                <span> / </span>
                <input type="text" size="4" data-stripe="exp-year"/>
              </div>

              <button type="submit">Submit Payment</button>
            </form>
          </div>
        </div>
      </div>
      <!-- End Credit Card Div -->
    </div>

    <footer>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d392565.2037547804!2d-105.13529645012136!3d39.76400211690762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876b80aa231f17cf%3A0x118ef4f8278a36d6!2sDenver%2C+CO!5e0!3m2!1sen!2sus!4v1453852883737" width="150" height="150" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-3">
            <h4>Products That We Love</h4>
            <table class="lamp">
            <tr>
              <th>
                <img src="http://orig05.deviantart.net/1dcf/f/2012/311/a/1/pokemon_yellow___haunter_animated_50x50_by_kimihro-d5kbjj5.gif">
              </th>
              <td>
                 Shoes
              </td>
            </tr>
            <tr>
              <th>
                <img src="http://orig05.deviantart.net/1dcf/f/2012/311/a/1/pokemon_yellow___haunter_animated_50x50_by_kimihro-d5kbjj5.gif">
              </th>
              <td>
                 More Shoes
              </td>
            </tr>
            <tr>
              <th>
                <img src="http://orig05.deviantart.net/1dcf/f/2012/311/a/1/pokemon_yellow___haunter_animated_50x50_by_kimihro-d5kbjj5.gif">
              </th>
              <td>
                 <a href="http://glerupsusa.com/">All The Shoes!</a>
              </td>
            </tr>
            </table>
          </div>
          <div class="col-md-3">
            <h4>Connect With Us!</h4>
            <ul>
              <li><a href="https://www.facebook.com/">Facebook</a></li>
              <li><a href="https://www.twitter.com/">Twitter</a></li>
              <li><a href="https://www.instagram.com/">Instagram</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <h4>Favorite Colors</h4>
            <ul>
              <li>Rainbow</li>
              <li>Blue</li>
              <li>Green</li>
            </ul>
          </div>
        </div> <!-- end .row -->
      </div> <!-- end .container-fluid -->
    </footer>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
