<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Products</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <div class="wrapper">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Shoes</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="products.html">All</a></li>
                  <li><a href="#">Men</a></li>
                  <li><a href="#">Women</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Sale</a></li>
                </ul>
              </li>
              <li class="active"><a href="#">About<span class="sr-only">(current)</span></a></li>
              <li><a href="#">Contact</a></li> <!-- need to link to footer -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="checkout.html">Checkout: <span>2</span> </a></li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- Beginning of products page -->
      <!-- need to add classes in order to filter shoes -->
      <header>
        <h1>Products</h1>
        <div class="col-md-3">
          <h4>Shoe Size:</h4>
          <h4>Shoe Color:</h4>
        </div>
        <div class="col-md-3">
          <!-- options small/red -->
          <h4><span class="option-small">Small</span></h4>
          <h4><span class="option-red">Red</span></h4>
        </div>
        <div class="col-md-3">
          <!-- options medium/blue -->
          <h4><span class="option-medium">Medium</span></h4>
          <h4><span class="option-blue">Blue</span></h4>
        </div>
        <div class="col-md-3">
          <!-- options large/black -->
          <h4><span class="option-large">Large</span></h4>
          <h4><span class="option-black">Black</span></h4>
        </div>
      </header>
      <section>
        <table>
          <tr>
            <td class="large black">
              <img src="../assets/Shoes.png" class="products">
              <p>Size: Large</p>
            </td>
            <td class="small blue">
              <img src="../assets/Shoe_Blue_2.png" class="products">
              <p>Size: Small</p>
            </td>
            <td class="small red">
              <img src="../assets/Shoe_Red_2.png" class="products">
              <p>Size: Small</p>
            </td>
            <td class="medium black">
              <img src="../assets/Shoes.png" class="products">
              <p>Size: Medium</p>
            </td>
          </tr>
          <tr>
            <td class="medium red">
              <img src="../assets/Shoe_Red.png" class="products">
              <p>Size: Medium</p>
            </td>
            <td class="large black">
              <img src="../assets/Shoes.png" class="products">
              <p>Size: Large</p>
            </td>
            <td class="small blue">
              <img src="../assets/Shoe_Blue.png" class="products">
              <p>Size: Small</p>
            </td>
            <td class="medium black">
              <img src="../assets/Shoes.png" class="products">
              <p>Size: Meduim</p>
            </td>
          </tr>
          <tr>
            <td class="small blue">
              <img src="../assets/Shoe_Blue.png" class="products">
              <p>Size: Small</p>
            </td>
            <td class="large red">
              <img src="../assets/Shoe_Red.png" class="products">
              <p>Size: Large</p>
            </td>
            <td class="large black">
              <img src="../assets/Shoes.png" class="products">
              <p>Size: Large</p>
            </td>
            <td class="small red">
              <img src="../assets/Shoe_Red_2.png" class="products">
              <p>Size: Small</p>
            </td>
          </tr>
        </table>
      </section>
      <!-- End of products page -->
    </div>

    <footer>
      <div class="col-md-3">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d392565.2037547804!2d-105.13529645012136!3d39.76400211690762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876b80aa231f17cf%3A0x118ef4f8278a36d6!2sDenver%2C+CO!5e0!3m2!1sen!2sus!4v1453852883737" width="150" height="150" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-3">
        <h4>Products That We Love</h4>
        <table>
        <tr>
          <th>
            <img src="http://orig05.deviantart.net/1dcf/f/2012/311/a/1/pokemon_yellow___haunter_animated_50x50_by_kimihro-d5kbjj5.gif">
          </th>
          <td>
             Shoes
          </td>
        </tr>
        <tr>
          <th>
            <img src="http://orig05.deviantart.net/1dcf/f/2012/311/a/1/pokemon_yellow___haunter_animated_50x50_by_kimihro-d5kbjj5.gif">
          </th>
          <td>
             More Shoes
          </td>
        </tr>
        <tr>
          <th>
            <img src="http://orig05.deviantart.net/1dcf/f/2012/311/a/1/pokemon_yellow___haunter_animated_50x50_by_kimihro-d5kbjj5.gif">
          </th>
          <td>
             <a href="http://glerupsusa.com/">All The Shoes!</a>
          </td>
        </tr>
        </table>
      </div>
      <div class="col-md-3">
        <h4>Connect With Us!</h4>
        <ul>
          <li><a href="https://www.facebook.com/">Facebook</a></li>
          <li><a href="https://www.twitter.com/">Twitter</a></li>
          <li><a href="https://www.instagram.com/">Instagram</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Favorite Colors</h4>
        <ul>
          <li>Rainbow</li>
          <li>Blue</li>
          <li>Green</li>
        </ul>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/utilities.js"></script>
  </body>
</html>
